.color-div {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 10px;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#green {
  background-color: green;
}

#yellow {
  background-color: yellow;
}

.flash {
  opacity: 0.3;
}